In [81]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle
from sklearn.preprocessing import OneHotEncoder

In [82]:
# read the dataset 
data = pd.read_csv('churn_Modelling.csv')
data.head()
# drop unnecessary columns
data = data.drop(['RowNumber','CustomerId','Surname'], axis=1)
# encode categorical variables
labelencoder = LabelEncoder()
data['Gender'] = labelencoder.fit_transform(data['Gender'])
labelencoder.classes_ #shows learned classes from data
# One-hot encoding for Geography column
ohe = OneHotEncoder()
geography_encoded = ohe.fit_transform(data[['Geography']]) #ohe always expects a 2d array 
geography_encoded

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [83]:
data['Geography']

0        France
1         Spain
2        France
3        France
4         Spain
         ...
9995     France
9996     France
9997     France
9998    Germany
9999     France
Name: Geography, Length: 10000, dtype: object

In [84]:
geography_encoded.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [85]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [86]:
df=pd.DataFrame(geography_encoded.toarray(),columns=ohe.get_feature_names_out(['Geography']))
df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [87]:
data=pd.concat([data,df],axis=1)
data.head()
data=data.drop(['Geography'],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [88]:
#save the encoder and scaler objects 
with open('labelencoder.pkl','wb') as file:
    pickle.dump(labelencoder,file)
with open('onehotencoder.pkl','wb') as file:
    pickle.dump(ohe,file)

In [89]:
data.head()
data.columns=data.columns.astype(str)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [90]:
#divide the data into input and output variables
X = data.drop('Exited', axis=1)
X.columns=X.columns.astype(str)
y = data['Exited']
# split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# feature scaling
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,1.0,0.0,0.0

In [91]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [92]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense 
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

In [93]:
X_train #will give training data
X_train.shape #will give shape of training data that is (8000,11) (rows,columns)
X_train.shape[1] #gives number of columns that is 11 or input features
input_shape=(X_train.shape[1],) #gives input shape as 11 and converts it to tuple (11,) says it is single dimensional
print(input_shape)

(12,)

In [94]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  #HL1 CONNECTED TO INPUT LAYER
    Dense(32,activation='relu'),  #HL2 CONNECTED TO HL1
    Dense(1,activation='sigmoid')  #OUTPUT LAYER CONNECTED TO HL2
])

In [95]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                832

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [96]:
opt=tf.keras.optimizers.Adam(learning_rate=0.001)
loss=tf.keras.losses.BinaryCrossentropy()

In [97]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy']) #we can replace with opt and loss variables for different lerning rate etc.

In [98]:
#setup tensorboard
import datetime
from tensorflow.keras.callbacks import TensorBoard, EarlyStopping
log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir, histogram_freq=1)
#setup early stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)
#train the model
history=model.fit(X_train, y_train, validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4734 - accuracy: 0.7915 - val_loss: 0.4066 - val_accuracy: 0.8185
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3962 - accuracy: 0.8354 - val_loss: 0.3573 - val_accuracy: 0.8550
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3575 - accuracy: 0.8525 - val_loss: 0.3443 - val_accuracy: 0.8545
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8596 - val_loss: 0.3434 - val_accuracy: 0.8650
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8587 - val_loss: 0.3406 - val_accuracy: 0.8620
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8608 - val_loss: 0.3405 - val_accuracy: 0.8610
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3308 - accuracy: 0.8671 - val_loss: 0.3439 - val_accuracy: 0.8605
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3281 - accuracy: 0.8656 - val_loss: 0.3400 - val_accuracy: 0.8645
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3258 - accuracy: 0.8635 - val_loss: 0.3426 - val_accuracy: 0.8645
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3242 - accuracy: 0.8665 - val_loss: 0.3384 - val_accuracy: 0.8645
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3219 - accuracy: 0.8680 - val_loss: 0.3397 - val_accuracy: 0.8630
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3218 - accuracy: 0.8674 - val_loss: 0.3370 - val_accuracy: 0.8650
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3190 - accuracy: 0.8674 - val_loss: 0.3382 - val_accuracy: 0.8665
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3168 - accuracy: 0.8661 - val_loss: 0.3471 - val_accuracy: 0.8560
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3155 - accuracy: 0.8676 - val_loss: 0.3425 - val_accuracy: 0.8635
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3148 - accuracy: 0.8676 - val_loss: 0.3421 - val_accuracy: 0.8690
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3137 - accuracy: 0.8691 - val_loss: 0.3432 - val_accuracy: 0.8665

In [99]:
model.save('model.h5')

c:\Users\kesha\OneDrive\Desktop\udemy aiml\python\ANN project implementation\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [100]:
#load tensorboard extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [101]:
%tensorboard --logdir logs/fit20260110-152231

Reusing TensorBoard on port 6007 (pid 19620), started 2 days, 5:02:42 ago. (Use '!kill 19620' to kill it.)