In [23]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import numpy as np
import pandas as pd
import pickle

In [24]:
# load pickle file
model=load_model('model.h5')
scaler=pickle.load(open('scaler.pkl','rb')) #either way is fine
'''with open ('scaler.pkl','rb') as f:
    scaler=pickle.load(f)'''
with open('onehotencoder.pkl','rb') as f:
    ohe=pickle.load(f)
with open ('labelencoder.pkl','rb') as f:
    le=pickle.load(f)

In [25]:
#example of input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}
'''y={
  'Age': [40, 41, 42],
  'Geography': ['France', 'Spain', 'Germany']
}''' #to remember how to create dataframe keys are column in dict that why [] for row

"y={\n  'Age': [40, 41, 42],\n  'Geography': ['France', 'Spain', 'Germany']\n}"

In [26]:
#this was my attempt
# preprocess i/p data
x=pd.DataFrame([input_data])
geo=ohe.transform(x[['Geography']]).toarray()
geo_dp=pd.DataFrame(geo,columns=ohe.get_feature_names_out(['Geography']))

geo_dp

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [27]:
#lecture way
geo_encoded=ohe.transform([[input_data['Geography']]]).toarray()
df=pd.DataFrame(geo_encoded,columns=ohe.get_feature_names_out(['Geography']))
df

c:\Users\kesha\OneDrive\Desktop\udemy aiml\python\ANN project implementation\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [28]:
input_df=pd.DataFrame([input_data])
input_df['Gender']=le.transform(input_df['Gender'])

In [29]:
input_df=pd.concat([input_df.drop(['Geography'],axis=1),geo_dp],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [31]:
input_scaled=scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [33]:
# model prediction
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 21ms/step

array([[0.0289718]], dtype=float32)

In [37]:
prediction_probability=prediction[0][0]
prediction_probability
if prediction_probability>0.5:
    print(f'The customer will leave the bank with a probability of {prediction_probability}')
else:
    print(f'The customer will stay in the bank with a probability of {1-prediction_probability}')

The customer will stay in the bank with a probability of 0.9710282031446695